@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Roboto:wght@300;400;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body{
  padding: 1em;
  background-color: EEF1F2;
  color: #1F2231;
}
.results{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.result{
  background-color: #ffffff;
  padding: 1em;
  border-radius: 12px;
  box-shadow: rgba(57, 61, 65, 0.3) 0px 8px 24px;
}


.result_title{
  font-size: 23px;
}

.company_item{
  font-weight: bold;
  font-size: 15px;
}

.company_result{
  background-color: #ffffff;
  padding: 1em;
  border-radius: 16px;
  margin: 10px auto 0 0;
  box-shadow: rgba(57, 61, 65, 0.1) 0px 8px 24px;
}

/* .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 70px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  margin: 16px 366px 0 0;
}

.u-section-1 .u-list-1 {
  margin: 57px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 799px;
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 25px auto 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 25px auto 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 25px auto 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 25px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 166px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
} */