{% import "bootstrap/wtf.html" as wtf %}    

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" media="screen">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>


<body>
    <h1>{% block title %} {{Title}} {% endblock %}</h1>
    
    
    <div class="form_box" id="form_box" style="display: {{notLoading}};"> 

        <form action="http://localhost:5000/addDomain" method="post">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="form_item"> Add the news domains you want to extract news from: </label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="add"> 
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-success" >Add</button>            
                </div>
                
            </div>
        </form>

        <div class="domain_selector_box">  

            {% for domain in news_domains %}

                <form action="http://localhost:5000/removeDomain" method="post">
                    <button type="submit" name="{{domain}}" > {{domain}}</button>  
                    <!-- <input type="checkbox" class="company_type" >  -->
                </form>  
        
            {% endfor %}
        </div>


        <form action="http://localhost:5000/updateCategories" method="post">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="form_item"> Select the company categories you want to obtain: </label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="search"> 
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-success" >Search</button>            
                </div>
            </div>
        </form>

        
        <div class="company_selector_box">  

            {% for comp in company_categories %}

                <form action="http://localhost:5000/addCategories" method="post">
                    <button type="submit" name="{{comp}}" > {{comp}}</button>  
                    <!-- <input type="checkbox" class="company_type" >  -->
                </form>  
        
            {% endfor %}
        </div>

       <div class="company_selected_box">  
                
            {% for comp in selected_company_categories %}

                <form action="http://localhost:5000/removeCategories" method="post">
                    <button type="submit" name="{{comp}}" > {{comp}}</button>  
                    <!-- <input type="checkbox" class="company_type" >  -->
                </form>   
        
            {% endfor %}

        </div>


        <form action="http://localhost:5000/table" method="post">

            <div class="form_item">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">  
                        {{form.query.label}}
                    </div>
                    <div class="col">  
                        {{form.query(class="form-control pt-1")}}
                    </div>
                </div>
            </div>
            
            <div class="form_item">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">  
                        {{form.date_from.label}}
                    </div>
                    <div class="col-auto">  
                        {{form.date_from(class="form-control pt-2")}}
                    </div>
                </div>  
            </div>
            
            <div class="form_item">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        {{form.date_to.label}}
                    </div>
                    <div class="col-auto">
                        {{form.date_to(class="form-control pt-2")}}
                    </div>
                </div> 
            </div>
            
            <div class="form_item mitad">
                <button type="submit" class="btn btn-lg btn-default btn-outline-success btn-block"> Submit</button>  
            </div>
            

        </form> 

    </div>
    
    <div class="loader" id="loader" style="display: {{Loading}};"></div> 

</body>