@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Roboto:wght@300;400;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body{
  padding: 1em;
  background-color: EEF1F2;
  color: black;
}
.results{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.result{
  background-color: #ADD7F6;
  padding: 1em;
  border-radius: 12px;
  box-shadow: rgba(57, 61, 65, 0.3) 0px 8px 24px;
}


.result_title{
  color: #1D1E18;
  font-size: 25px;
}

.company_item{
  font-weight: bold;
  font-size: 15px;
}


.company_results {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.company_result{
  background-color: #87BFFF;
  padding: 1em;
  border-radius: 16px;
  margin: 10px;
  flex-basis: 30em;
	flex-grow: 0;
	flex-shrink: 0;
  overflow: auto;
}

.news{
  display: inline-block;
  background-color: #87BFFF;
  padding: 1em;
  border-radius: 16px;
  margin: 10px;
  flex-basis: 30em;
	flex-grow: 0;
	flex-shrink: 0;
  overflow: auto;
}

.form_box{
  background-color: #ffffff;
  padding: 1em;
  border-radius: 16px;
  box-shadow: rgba(57, 61, 65, 0.3) 0px 8px 24px;
}

.form_item{
  font-weight: bold;
  font-size: 18px;
  padding: 1em;
  /* margin: 1em auto 0 0; */
}

.company_selector_box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  
}

.company_selector_box  button {
  font-size: 1.25vh;
  color: white;
  background: gray;
  margin: .3em;
  padding: 1em;
  border-radius: 10px;
  flex: 25%;
  /* min-height: 20vh;
  min-width: 20vh; */
}

.company_selector_box  button:hover{
  background:rgb(97, 181, 195);
  color:#fff;
  box-shadow:0px 10px 25px rgba(46,223,229,0.445);
}

.company_selected_box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  
}

.company_selected_box  button {
  font-size: 1.25vh;
  color: white;
  background: rgb(97, 181, 195);
  margin: .3em;
  padding: 1em;
  border-radius: 10px;
  flex: 25%;
  /* min-height: 20vh;
  min-width: 20vh; */
}

.company_selected_box  button:hover{
  background:gray;
  color:#fff;
  box-shadow:0px 10px 25px grey;
}

.domain_selector_box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.domain_selector_box  button {
  font-size: 1.2vh;
  color: white;
  background: rgb(97, 181, 195);
  margin: .3em;
  padding: 1em;
  border-radius: 10px;
  flex: 25%;
  /* min-height: 20vh;
  min-width: 20vh; */
}

.domain_selector_box  button:hover{
  background:gray;
  color:#fff;
  box-shadow:0px 10px 25px grey;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(54, 158, 54);
  border-bottom: 16px solid rgb(54, 158, 54);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}

.mitad {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

